@import "../../../styles/utilities/variables.scss";
@import "../../../styles/utilities/mixins.scss";

.container {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  grid-template: repeat(2, 1fr) / 1fr;
  height: 50vh;
  border-bottom: solid 1px black;
  background-image: url("../../../assets/patterns/js13kgames-pattern-red.png");
  @include respond-to("webMedium") {
    margin-top: 10vh;
  }
  @include respond-to("mobileSmall") {
    grid-template-rows: 1fr;
  }
  .middleWrapper {
    text-align: center;
    align-self: end;
    font-size: 2.5em;
    font-weight: bold;
    @include respond-to("mobileSmall") {
      font-size: 2.2em;
      align-self: center;
    }
  }
}
