@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

$primary-font: sans-serif;
$secondary-font: "Graduate", cursive;

$primary-color: #a52730;
$secondary-color: #2d2d2d;

$mobileSmall: 320px;
$mobileMedium: 360px;
$mobileLarge: 411px;

$tabletMedium: 760px;
$tabletLarge: 1000px;

$webMedium: 1060px;

$breakpoints: (
  "mobileSmall": (
    orientation: portrait,
  )
  and
  (
    min-width: $mobileSmall,
  ),
  "webMedium": (
    max-width: $webMedium,
  ),
  "mobileMedium": (
    orientation: portrait,
  )
  and
  (
    min-width: $mobileMedium,
  ),
  "mobileLarge": (
    orientation: portrait,
  )
  and
  (
    min-width: $mobileLarge,
  ),
  "tabletMedium": (
    orientation: portrait,
  )
  and
  (
    min-width: $tabletMedium,
  ),
  "tabletLarge": (
    orientation: portrait,
  )
  and
  (
    min-width: $tabletLarge,
  ),
);
