@import "../../styles/utilities/mixins.scss";
@import "../../styles/utilities/variables.scss";

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2em 5em;
  @include respond-to("mobileSmall") {
    margin: 2em;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .item {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    // min-width: 250px;
    place-items: center;
    border: solid 1px black;
    padding: 0 1.4em 1.4em 1.4em;
    height: 70vh;
    img {
      width: 50%;
    }
  }
}
