.heroContainer {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  grid-template: 20% repeat(2, 1fr) 10% / 1fr;
  height: 50vh;
  .middleContainer {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  .socialIcons {
    display: flex;
    justify-self: end;
    .iconWrapper {
      margin-right: 1.5em;

      .icon {
        height: 0.7em;
      }
    }
  }
}
