// .homeContainer {
//   width: 100%;

.banner {
  width: 100%;
  min-height: 40vh;
  background-image: url("https://picsum.photos/id/221/350/200");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p {
    text-align: center;
    line-height: 40vh;
    color: #fff;
    font-size: 5em;
  }
}

// }
