.container {
  width: 100%;
  .title {
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    h3 {
      width: auto;
    }
    span {
      margin-left: 1em;
      cursor: pointer;
    }
  }
  .content {
    overflow: hidden;
    height: 0;
  }
  .open {
    height: auto;
  }
}
