.container {
  width: 100%;
  .title {
    display: flex;
    width: auto;
    max-width: 400px;
    padding: 0.5em 0;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 2em;
      margin-left: 2em;
    }
  }
  .content {
    overflow: hidden;
    height: 0;
  }
  .open {
    height: auto;
  }
}
