.container {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  min-width: 200px;
  padding: 1em;
  border: solid 1px black;
  place-items: center;
  .image {
    width: 8em;
    height: 8em;
  }
  .description {
    align-self: flex-start;
  }
}
