.container {
  width: 22em;
  height: 8em;
  margin: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gold {
  width: 16em;
  height: 7em;
}
.silver {
  width: 13em;
  height: 5em;
}
.supporters {
  width: 8em;
  height: 4em;
}
