.container {
  display: grid;
  grid-template: 20% 1fr 20% / 1fr 1fr;
  height: 100vh;
  justify-items: center;
  border-bottom: solid 1px black;
  .title {
    margin: auto;
    grid-column: 1/-1;
  }
  .image {
    width: 30vw;
    height: 30vw;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .description {
    width: 35vw;
    font-size: 1.2em;
  }
}
