.container {
  display: grid;
  grid-template: 20% 1fr / 35% 1fr;
  align-items: center;
  height: 50vh;
  border: solid 1px #000;
  padding: 0 2em 2em 2em;
  text-transform: uppercase;

  + .container {
    margin-top: 1em;
  }

  &:nth-child(1n + 2) {
    grid-template: 2em 1fr / 20% 1fr;
    height: 30vh;
    h2 {
      font-size: 0.9em;
    }
    .place,
    .category,
    .buttonsWrapper {
      font-size: 0.75em;
    }
  }

  .img {
    grid-row: 2/3;
    width: 90%;
    // min-width: 18.75em;
    height: 100%;
    background-image: url("https://picsum.photos/600/300");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .description {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    height: 100%;

    .category {
      margin-top: 0.5em;
    }
    .buttonsWrapper {
      margin: auto 0 1em auto;
    }
  }
}
