.container {
  width: 100%;
  .title {
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    h3 {
      width: auto;
    }
    span {
      margin-left: 1em;
      cursor: pointer;
    }
  }
  .content {
    overflow: hidden;
    height: 0;
  }
  .open {
    height: auto;
  }
}
.flex {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(23.5%, 1fr));
}
