.container {
  width: 100%;
  .title {
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    h3 {
      width: auto;
    }
    .icon {
      margin-left: 1em;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .content {
    overflow: hidden;
    height: 0;
  }
  .open {
    height: auto;
    margin: 1em 0;
  }
}
.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(23.5%, 1fr));
}
.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
