@import "../../../styles/utilities/variables.scss";

.navHeader {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  align-items: center;
  border-top: solid 0.35em $primary-color;
  background-color: #fff;
  height: 10vh;
  text-transform: uppercase;
  z-index: 15;
  .logo {
    width: 200px;
    margin-left: 2.5em;
    cursor: pointer;
  }
  .loginWrapper {
    margin: auto 2.5em auto auto;
    display: flex;
    align-items: center;
    .loggedInWrapper {
      order: 1;
      
      width: auto;
      margin-left: 1.5em;
    }
    .avatar {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: #000;
      // margin-left: 2.5em;
      vertical-align: middle;
      cursor: pointer;
    }
    .dropdown {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      // align-items: center;
      width: 22%;
      height: 35%;
      background-color: #fff;
      position: absolute;
      top: -35%;
      right: 0;
      // transition: transform 0.4s ease-in;
      z-index: 1;
      &Item {
        // margin-left: 2em;
        display: flex;
        align-items: center;
        padding: 0 2em;
        border: solid 1px #ddd;
        border-top: none;
        // height: 100%;
        .logout {
          cursor: pointer;
        }
        span {
          display: block;
          font-size: 0.7em;
        }
      }
    }
  }
}
.active {
  transform: translateY(calc(99.5% + 10vh));
}
