// .navWrapper {
//   display: flex;
//   flex-direction: column;
//   background-color: #000;
//   width: 100%;
//   height: 20vh;
.navHeader {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  align-items: center;
  // justify-content: space-between;
  border-top: solid 0.35em #a52730;
  background-color: #fff;
  height: 10vh;
  text-transform: uppercase;
  .logo {
    height: 9vh;
    // width: 200px;
    width: auto;
  }
  // a {
  //   margin: 0 2.5em;
  // }
  .loginWrapper {
    margin: auto 2.5em auto auto;
    .login {
      margin-right: 1em;
    }
  }
  // .select {
  //   font-size: 1.2em;
  //   width: 3.5em;
  //   background-color: transparent;
  //   margin: auto;
  //   border: none;
  //   border-bottom: solid 3px #a52730;
  // }
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  place-items: center;
  height: 10vh;
  background-image: url("../../../assets/patterns/js13kgames-pattern-menu.png");
  // background-color: #000;
  // transition: opacity 0.4s linear;
  .navItems {
    display: flex;
    grid-column: 2/3;
    list-style: none;
  }
  .navItemsScroll {
    grid-column: 1/-1;
  }
  .searchIcon {
    color: #fff;
    width: 1em;
    font-size: 2em;
  }
}
// }
.fixed {
  position: fixed;
  // display: block;
  top: 0;
  // left: 0;
  // opacity: 1;
  width: 100%;
  animation: animate 0.3s linear;
  // transition: opacity 0.4s linear;
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}

.select {
  font-size: 1.2em;
  width: 3.5em;
  background-color: transparent;
  margin: auto;
  border: none;
  border-bottom: solid 3px #a52730;
}
.selectScroll {
  order: -2;
  margin: 0;
  color: #fff;
}

@keyframes animate {
  from {
    // opacity: 0;
    top: -20%;
  }
  to {
    top: 0;
    // opacity: 1;
  }
}
