.select {
  font-size: 1.2em;
  width: 3.5em;
  background-color: transparent;
  margin: auto;
  border: none;
  border-bottom: solid 3px #a52730;
}
.selectScroll {
  margin: 0;
  color: #fff;
  margin-left: 0.8em;
}
