@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.container {
  display: grid;
  place-items: center;
  height: 30vh;
  background-image: url("../../assets/patterns/js13kgames-pattern-red.png");
  @include respond-to("webMedium") {
    margin-top: 10vh;
  }
  @include respond-to("mobileSmall") {
    text-align: center;
  }
}
